body {
  background-color: hsl(212, 45%, 89%);
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.QR_tab {
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  margin-top: 67px;
  border-radius: 12px;
}

img {
  height: 286px;
  width: 286px;
  margin-top: 16px;
  border-radius: 12px;
}

.image {
  text-align: center;
}

.instructions {
  font-family: Outfit;
  text-align: center;
  margin: 35px;
  padding-bottom: 40px;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

h1 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}
